---
layout: default
---
<article class="post">

<h3><a href="{{ site.url }}{{ page.url }}" rel="bookmark permalink" title="Permanent link to this post">{{ page.title }}</a></h3>

{{ content }}

<a class="follow-box" href="http://weibo.com/1639635743">
    <h3>You should probably follow <strong>@希征十字军</strong> on Twitter</h3>
</a>

<div class="meta">
    <div class="published">
        Published: {{ page.date | date: "%Y-%m-%d" }}
    </div>
</div>

</article>

<!-- UY BEGIN -->
<div id="uyan_frame"></div>
<script type="text/javascript" id="UYScript" src="http://uyan.cc/js/iframe.js?UYUserId=3396" async=""></script>
<!-- UY END -->